<h1>Machines#index</h1>

<h4> Type the total number of raffles you want: </h4>
<form action = "/input_number" method = "get">
    <input type = "text" name = "my_input" />
    <input type = "submit" />
</form>

<h4> Type your lottery number! </h4>
<form action = "/check_number" method = "post">
    <input type = "text" name = "my_lotto" />
    <input type = "submit" />
    
</form>



<!--<form action = "/click_generate" method = "get">-->
<!--    <input type = "submit" value = "Generate" />-->
<!--</form>-->
